

 <header>
    <div class="header_area">
    <nav class="navbar container navbar-expand-lg ">
      <!-- Brand -->
      <a class="navbar-brand"  href="#home-page"><img src="./../../../assets/images/home-page/logo_small.png" alt="" class="logo_color"><img src="./../../../assets/images/home-page/logo_small_white.png" alt="" class="logo_status "></a>
      <span class="ml-auto">
        <a class=" common-btn outer_signin " href="http://panel.onespot.ai/login">SIGNIN</a>

        </span>
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse  m-0 p-0" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " href="#home-page">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#About-us">About-us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Pricing">Pricing</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#Contact-us"> Contact-us</a>
            </li>
        </ul>
        <span class="ml-auto">
        <a class=" common-btn inner_signin" href="http://panel.onespot.ai/login">SIGNIN</a>

        </span>
      </div>
    </nav>
    </div>

  </header>
