.landing_section {
  background: url("assets/images/home-page/main_bg.jpg");
  background-position: center;
  position: relative;

  .main_right {
    padding: 25% 0;
  }

  .main_left {
    padding: 25% 0;
  }


  .main_head {
    line-height: 46px;
    font-size: 38px;
    font-weight: 600;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }

  .main_caption {
    line-height: 24px;
    font-size: 14px;
  }

  .main_signin_text {
    color: #63CCC8 !important;
    padding-bottom: 2px;
    border-bottom: 2px solid #63CCC8;
  }
}

.how_section {
  .home_block {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .how_inner_block {
    background: white;
    border-bottom: 5px solid #63CCC8;
    text-align: center;
    height: 100%;
    padding: 20% 10%;
    -webkit-box-shadow: 0px 0px 69px -48px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 0px 0px 69px -48px rgba(0, 0, 0, 0.67);
    box-shadow: 0px 0px 69px -48px rgba(0, 0, 0, 0.67);
  }
}

.features_section {
  background: #f7f7f7;

  .feature_block {
    padding-top: 64px;
    padding-bottom: 64px;
    position: relative;
  }

  .feature_bg_img {
    background: url("assets/images/home-page/fbg.jpg");
    padding: 80% 20%;
    background-position: center;
  }

  .feature_slider {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;

    .carousel-inner {
      position: relative;
      overflow: hidden;
      width: 60%;
      padding: 60px;
      min-height: 236px;
      margin: auto;
      background: #63ccc8;
    }

    .feature_inner_head {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 600;

    }
    .feature_inner_caption{
      font-size: 14px;
    }

    .common-btn {
      border: none;
      background: white;
      color:#344e73;
      padding: 10px 30px;
      -webkit-box-shadow: 0px 0px 69px -48px rgba(0, 0, 0, 0.67);
      -moz-box-shadow: 0px 0px 69px -48px rgba(0, 0, 0, 0.67);
      box-shadow: 0px 0px 69px -48px rgba(0, 0, 0, 0.67);
      & :hover{
        color:#344e73 !important;
      }
    }

    .head_underline {
      text-align: center;
      margin: auto;
      border-bottom: 3px solid white;
    }
  }
}

.pricing_section {
  .pricing_block {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .pricing_inner_block {
    position: relative;
    background: white;
    text-align: center;
    height: 100%;
    padding: 10%;
    -webkit-box-shadow: 0px 0px 69px -48px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 0px 0px 69px -48px rgba(0, 0, 0, 0.67);
    box-shadow: 0px 0px 69px -48px rgba(0, 0, 0, 0.67);
  }

  .pricing_block_head
  {

    background: #63ccc8;
    padding: 10px;
    font-size: 18px;
    color: white;
    position: absolute;
    left: 20px;
    right: 20px;
   top: 20px;
  }
  .pricing_getstarted {

    background: #63ccc8;
    padding: 10px;
    font-size: 18px;
    color: white;
    margin: 0;
    position: absolute;
    left: 20px;
    right: 20px;
 bottom: 20px;
  }

  .pricing_amount {
    padding: 20% 0;

    .pricing_amount_value {
      font-size: 64px;
      text-align: center;
    }

    .dollor {
      font-size: 16px;
      margin-left: -18px;
    }

  }

  .pricing_block_content {
    font-size: 14px;
    margin: 0;
    padding-bottom: 30%;
    color: #adadad;
  }
}

.get_in_touch_section {
  position: relative;

  .get_in_touch_block {

    padding-bottom: 64px;
  }

  .form_block {
    background: white;
    -webkit-box-shadow: 0px 0px 69px -48px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 0px 0px 69px -48px rgba(0, 0, 0, 0.67);
    box-shadow: 0px 0px 69px -48px rgba(0, 0, 0, 0.67);

    .form_content {
      .form_head {
        color: #63ccc8;
        font-size: 20px;
        font-family: 'M PLUS Rounded 1c', sans-serif;
      }

      .common-btn {
        float: right;
        background: #63ccc8;
        border: 0;
        color: white;
        padding: 10px 50px;
      }
    }

    .form_content {
      padding: 32px 0 32px 32px;
      height: 100%;

      .form-control {

        border: 1px solid #63ccc8;
        color: #ababad;

        & :focus {
          color: #63ccc8;
          background-color: #fff;
          border-color: #63ccc8;
          outline: 0;
        }

      }
    }

    .details_block {
      padding: 32px;
      height: 100%
    }
  }

  .details_block {
    background: #63CCC8;
    color: white;

    .content_head {
      font-family: 'M PLUS Rounded 1c', sans-serif;
      text-align: center;
      font-size: 20px;
      margin: 0;

    }

    .Contact_details_one {
      padding-top: 20px;


    .con_details_head{

    }

      .con_details_caption {
        font-size: 12px;
        color: #ffffffc4;
      }
    }
  }

  .footer_block {

    padding-bottom: 32px;
    color: white;

    .footer_head {
      font-size: 16px;
      text-transform: uppercase;

    }

    .footer_content {
      font-size: 14px;
      color: #ffffff78;
    }

    .form-control {
      background: white;
      height: 40px;
    }

    .input-group-text {
      border-radius: 0;
      background: #63ccc8;
      border: 1px solid transparent;
      height: 40px;
    }
  }

  .footer_bg {
    background: #344e73;
    padding: 10% 0;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    left: 0;
  }
}

