<section class="landing_section " id="home-page">
  <app-header></app-header>
  <div class="container main_one">
    <div class="main_section  ">
      <div class="row ">
        <div class="col-12 col-md-8">
          <div class="main_left">
            <p class="main_head">Know when is the best time to engage with your audience</p>
            <p class="main_caption">With OneSpot , send push notification/Email/SMS campaign at right time to drive
              sales/subscriptions or activate your lost customers at almost no cost</p>
            <div class="main_mail">
              <form class="row">
                <div class="form-group col-8">
                  <input type="email" class="form-control" id="email" placeholder="Enter your Email">
                </div>
                <div class="col-4 p-0 ">

                  <a type="submit" class=" common-btn " href="http://panel.onespot.ai/register">Get started </a>

                </div>
              </form>
            </div>
            <p class="main_signin">Already have an account ? <a href="http://panel.onespot.ai/login"><span
                  class="main_signin_text"> sign
                  in</span></a> </p>
          </div>
        </div>
        <div class=" col-12 col-md-4">
          <div class="main_right">
            <img src="../../assets/images/home-page/phone_small.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<section class="how_section container">
  <div class="home_block">
    <div class="how_heading">
      <div class="head_underline"></div>
      <p class="section_head m-0">HOW IT WORKS FOR YOU</p>
      <p class="section_caption ">Get the most out of your marketing channels. Try OneSpot today and find the best way
        to communicate with your audience. </p>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 ">
        <div class="how_inner_block">
          <img src="assets/images/icons/how_icon_1.png" alt="">
          <div class="inner_block_head">Increase open rate</div>
          <div class="inner_block_content">Average open rate for android is 5%, with OneSpot we have received upto 13%
            (for emails and push notifications).</div>
        </div>
      </div>
      <div class="col-12  col-md-4">
        <div class="how_inner_block">
          <div class="block_image">
            <img src="assets/images/icons/how_icon_2.png" class="justify-content-center" alt="">
          </div>

          <div class="inner_block_head">PUSH RIGHT CONTENT </div>
          <div class="inner_block_content">Get user live interest or intent and engage with the right content
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="how_inner_block">
          <img src="assets/images/icons/how_icon_3.png" alt="">
          <div class="inner_block_head"> Use right channel</div>
          <div class="inner_block_content">Should you use email, SMS or push notification or not bother the user at all?
            We have the answers.

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features_section" id="Features">
  <div class="feature_block container">
    <div class="row">
      <div class="col-12 col-md-4 ">
        <div class="feature_bg_img">
        </div>
      </div>
      <div class="col-12 col-md-8">
        <div class="features_heading">
          <div class="head_underline"></div>
          <p class="section_head m-0">FEATURES</p>
          <p class="section_caption ">Improving customer retention and activation at unbeliveable cost



          </p>
        </div>
      </div>
    </div>
    <div class="feature_slider">
      <div class="row">
        <div class="container">
          <div id="carouselContent" class="carousel slide text-white" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active text-center p-4">

                <p class="feature_inner_head m-0 ">Easy to Integrate</p>
                <div class="head_underline mb-4"></div>
                <p class="feature_inner_caption">Easy API integration to receive signals from OneSpot.Check API
                  Documents for more details</p>
                <a href="//panel.onespot.ai/register" class="common-btn">Get started for free</a>

              </div>
              <div class="carousel-item  text-center p-4">

                <p class="feature_inner_head m-0 ">Lower activation cost</p>
                <div class="head_underline mb-4"></div>
                <p class="feature_inner_caption">Activate your lost users at a lower cost. A great alternative to re
                  targeting acquired in-active users.</p>
                <a href="//panel.onespot.ai/register" class="common-btn">Get started for free</a>

              </div>
              <div class="carousel-item  text-center p-4">

                <p class="feature_inner_head m-0 ">Better Sales /Subscriptions</p>
                <div class="head_underline mb-4"></div>
                <p class="feature_inner_caption">With increased open rates through native communication channels you,
                  you enjoy higher sales /subscriptions opportunity</p>
                <a href="//panel.onespot.ai/register" class="common-btn">Get started for free</a>

              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
              <div class="indicators">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </div>
            </a>
            <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
              <div class="indicators">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </div>

            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="pricing_section" id="Pricing">
  <div class="pricing_block container">
    <div class="pricing_heading">
      <div class="head_underline"></div>
      <p class="section_head m-0">PRICING</p>
      <p class="section_caption ">Pricing that agrees with your marketing plan and scales as per your need
      </p>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 ">
        <div class="pricing_inner_block">
          <p class="pricing_block_head">BASIC</p>
          <div class="pricing_amount">
            <span class="pricing_amount_value">0 <span class="dollor"> &#36;</span> </span>
          </div>
          <p class="pricing_block_content"> Get 1M signals/month. Zero activation cost. Basic freatures aviable </p>
          <div>
            <a href="http://panel.onespot.ai/register">
              <p class="pricing_getstarted">Get started</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="pricing_inner_block">
          <p class="pricing_block_head" style="background:#cacaca">ADVANCE</p>
          <div class="pricing_amount">
            <span class="pricing_amount_value">0 <span class="dollor"> &#36;</span> </span>
          </div>
          <p class="pricing_block_content">coming coon</p>
          <div>
            <a>
              <p class="pricing_getstarted" style="background:#cacaca">Get started</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="pricing_inner_block">
          <p class="pricing_block_head" style="background:#cacaca">ENTERPRISE</p>
          <div class="pricing_amount">
            <span class="pricing_amount_value">0 <span class="dollor"> &#36;</span> </span>
          </div>
          <p class="pricing_block_content">coming soon</p>
          <div>
            <a>
              <p class="pricing_getstarted" style="background:#cacaca">Get started</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="get_in_touch_section" id="Contact-us">
  <div class="get_in_touch_block container">
    <div class="pricing_heading">
      <div class="head_underline"></div>
      <p class="section_head ">Get In Touch </p>
      <!-- <p class="section_caption ">We send a real-time signal the moment the user is highly active, thereby giving you a
        better open opportunity
      </p> -->
    </div>
    <div class="form_block" *ngIf="loading else elseBlock">
      <div class="row ">
        <div class="col-12 col-md-12 col-lg-8 ">
          <div class="form_content">
            <p class="form_head">
              Email sending in progress.....
            </p>
            <div class="spinner-border text-info" role="status">
              <span class="sr-only"></span>
            </div>
          </div>
        </div>
        <div class="col-12  col-md-12 col-lg-4">
          <div class="details_block">
            <p class="content_head">
              Contact information
            </p>
            <div class="row">
              <div class="col-12 col-sm-6 col-lg-12">
                <div class="Contact_details_one">
                  <div class="d-flex">
                    <div class="mr-4 pt-2">
                      <img src="../../assets/images/icons/home.png" alt="">
                    </div>
                    <div class="">
                      <p class="con_details_head m-0">Hyderabad, India</p>
                      <p class="con_details_caption m-0">Jubilee Hills</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-12">
                <div class="Contact_details_one">
                  <div class="d-flex">
                    <div class="mr-4 pt-2">
                      <img src="../../assets/images/icons/phone.png" alt="">
                    </div>
                    <div class="">
                      <p class="con_details_head m-0">+91 9642375817</p>
                      <p class="con_details_caption m-0">Mon to Fri 10.00am to 6.00pm</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-12">
                <div class="Contact_details_one">
                  <div class="d-flex">
                    <div class="mr-4 pt-2">
                      <img src="../../assets/images/icons/message.png" alt="">
                    </div>
                    <div class="">
                      <p class="con_details_head m-0">support@OneSpot.ai</p>
                      <p class="con_details_caption m-0">Send us your query anytime!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="form_block">
        <div class="row ">
          <div class="col-12 col-md-12 col-lg-8 ">
            <div class="form_content">
              <p class="form_head">
                Send us a Message
              </p>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <input type="text" formControlName="name" class="form-control" id="name" name="name"
                        placeholder="Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">come on, you have a name, don't you?</div>
                      </div>
                    </div>

                    <div class="form-group">
                      <input type="email" formControlName="email" class="form-control" placeholder=" Email-ID"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="text" formControlName="subject" class="form-control" id="subject" name="subject"
                        placeholder="Subject" [ngClass]="{ 'is-invalid': submitted && f.subject.errors }" />
                      <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                        <div *ngIf="f.subject.errors.required">come on, you have a subject, don't you?</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <textarea class="form-control" formControlName="message" name="message" id="message" rows="1"
                        placeholder="Enter Message" [ngClass]="{ 'is-invalid': submitted && f.message.errors }"
                        style="min-height: 145px;"></textarea>
                      <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                        <div *ngIf="f.message.errors.required">come on , Type something</div>
                        <div *ngIf="f.message.errors.minlength">come on, thats all ! </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <button type="submit" value="submit" class="common-btn">SEND </button>
                  </div>
                </div>

              </form>
            </div>
          </div>
          <div class="col-12  col-md-12 col-lg-4">
            <div class="details_block">
              <p class="content_head">
                Contact information
              </p>
              <div class="row">
                <div class="col-12 col-sm-6 col-lg-12">
                  <div class="Contact_details_one">
                    <div class="d-flex">
                      <div class="mr-4 pt-2">
                        <img src="../../assets/images/icons/home.png" alt="">
                      </div>
                      <div class="">
                        <p class="con_details_head m-0">Hyderabad, India</p>
                        <p class="con_details_caption m-0">Jubilee Hills</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-12">
                  <div class="Contact_details_one">
                    <div class="d-flex">
                      <div class="mr-4 pt-2">
                        <img src="../../assets/images/icons/phone.png" alt="">
                      </div>
                      <div class="">
                        <p class="con_details_head m-0">+91 9642375817</p>
                        <p class="con_details_caption m-0">Mon to Fri 10.00am to 6.00pm</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-12">
                  <div class="Contact_details_one">
                    <div class="d-flex">
                      <div class="mr-4 pt-2">
                        <img src="../../assets/images/icons/message.png" alt="">
                      </div>
                      <div class="">
                        <p class="con_details_head m-0">support@OneSpot.ai</p>
                        <p class="con_details_caption m-0">Send us your query anytime!</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>
    </ng-template>

  </div>
  <div class="foter_block container " id="About-us">
    <div class="footer_block">
      <div class="row">
        <div class="col-12 col-md-4 ">
          <div class="head_underline"></div>
          <p class="footer_head">About Me</p>
          <p class="footer_content">Do you want to be even more successful? Learn to love learning and growth.</p>
          <p class="footer_content">Copyright © All rights reserved</p>
        </div>
        <div class="col-12 col-md-4 ">
          <p class="footer_head">Newsletter</p>
          <p class="footer_content">Stay updated </p>
          <form [formGroup]="updateMail" (ngSubmit)="onUpdate()">
            <div class="input-group mb-3">
              <input type="email" class="form-control" formControlName="emailUpdate" placeholder=" Email-ID "
                name="email" [ngClass]="{ 'is-invalid': done && f1.emailUpdate.errors }" />
              <!-- <div class="placeholder"><p class="placeholder-class">enter email</p></div>                                                                                                                                                          -->
              <span><button type="submit" value="submit" class=" input-group-text"><img
                    src="./../../assets/images/icons/right-arrow@1X.png" alt=""></button></span>
              <div *ngIf="done && f1.emailUpdate.errors" class="invalid-feedback">
                <div *ngIf="f1.emailUpdate.errors.required " class="text-white">Email is required</div>
                <div *ngIf="f1.emailUpdate.errors.email text-white" class="text-white">Email must be a valid email
                  address</div>
              </div>
            </div>

          </form>
        </div>
        <div class="col-12 col-md-4 ">
          <p class="footer_head">Follow Me</p>
          <p class="footer_content">Let us be social</p>
          <div class="d-flex pt-3">
            <img src="./../../assets/images/icons/dribbble.png" alt="" class="pr-2">
            <img src="./../../assets/images/icons/facebook.png" alt="" class="px-2">
            <img src="./../../assets/images/icons/twitter.png" alt="" class="px-2">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bg">

  </div>
</section>